[*.{kt,kts}]
ktlint_code_style = android_studio
max_line_length = 120
insert_final_newline = true
indent_size = 4
indent_style = space
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_package-name = disabled
ktlint_standard_function-naming = disabled
ktlint_standard_property-naming = disabled
